* {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

#editor {
    display: none;
}

#audio-player {
    width: 500px;
}

#text-editor {
    display: block;
    width: 500px;
    height: 500px;
    margin: 10px 0px;
}

#note-display {
    margin: 10px 0px;
}

.note {
    margin: 8px 0px;
    border: 0.5px solid lightgray;
    border-radius: 4px;
    padding: 7px 10px;
    background-color: #fcfcfc;
}

.timestamp {
    color: dodgerblue;
    cursor: pointer;
}

.timestamp:hover {
    color: deepskyblue;
    text-decoration: underline;
}

.timestamp:active {
    color: skyblue;
}