* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#editor {
    display: none;
}

#audio-player {
    width: 500px;
}

#text-editor {
    display: block;
    width: 500px;
    height: 500px;
}

.even {
    background-color: aliceblue;
}

.odd {
    background-color: mintcream;
}